<div class="top-footer">
  <img src="../../../assets/phone-call.png" />
  <p>Hỗ trợ/ Mua hàng: <a class="sdt"> 0933 800 190</a></p>
</div>
<div class="footer">
  <div class="contact">
    <p class="headerfooter">Hệ Thống Cửa Hàng</p>
    <div class="location">
      <p>Chi nhánh Hồ Chí Minh</p>
    </div>
    <div class="adress">
      <p>Quận 10 - 561 Sư Vạn Hạnh, Phường 13</p>
      <p>Quận 1 - The New Playground 26 Lý Tự Trọng, Phường Bến Nghé</p>
      <p>Quận 1 - Central Market 4 Phạm Ngũ Lão, Phường Phạm Ngũ Lão.</p>
      <p>Quận Gò Vấp - 41 Quang Trung, Phường 3.</p>
      <p>Quận Gò Vấp - 326 Quang Trung, Phường 10</p>
    </div>
    <div class="location">
      <p>Chi nhánh Biên Hòa</p>
    </div>
    <div class="adress">
      <p>TP. Biên Hòa - 151A Phan Trung, Phường Tân Mai.</p>
    </div>
    <div class="location">
      <p>Chi nhánh Bình Dương</p>
    </div>
    <div class="adress">
      <p>TP. Thủ Dầu Một - 28 Yersin, Phường Hiệp Thành.</p>
    </div>
    <div class="location">
      <p>Chi nhánh Cần Thơ</p>
    </div>
    <div class="adress">
      <p>Quận Ninh Kiều - 52 Mậu Thân, Phường An Phú.</p>
    </div>
    <div class="location">
      <p>Chi nhánh Hà Nội</p>
    </div>
    <div class="adress">
      <p>Đống Đa - 49-51 Hồ Đắc Di, Phường Nam Đồng.</p>
    </div>
  </div>
  <div class="footer-contact">
    <div class="social">
      <h3>Mạng Xã Hội</h3>
    </div>
    <div class="iconsocial">
      <img src="../../../assets/facebook.png" />
      <img src="../../../assets/youtube.png" />
      <img src="../../../assets/instagram.png" />
    </div>
    <div class="support">
      <h3>Chính Sách</h3>
      <ul class="listsupport">
        <li>Chính sách bảo mật</li>
        <li>FAQ</li>
        <li>Chính sách bảo hành & đổi trả</li>
        <li>Chính sách giao hàng hỏa tốc</li>
      </ul>
    </div>
  </div>
  <div class="fanpage">
    <h3>Fanpage</h3>
    <div class="imgfanpage"><img src="../../../assets/fanpage.png" /></div>
  </div>
</div>
